# Mas o que é interpolação ?

## Segundo o dicionario

### interpolação
### Aprenda a pronunciar
### substantivo feminino
### 1.
### introdução ou intercalação de palavras ou frases em um texto.
### 2.
### cessação, interrupção.
### "i. de uma guerra"

In [1]:
import pandas as pd

In [2]:
data = [0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]

In [4]:
data

[0.5, None, None, 0.52, 0.54, None, None, 0.59, 0.6, None, 0.7]

In [6]:
ds = pd.Series(data)
ds

0     0.50
1      NaN
2      NaN
3     0.52
4     0.54
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [9]:
ds.fillna(0)

0     0.50
1     0.00
2     0.00
3     0.52
4     0.54
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [12]:
ds.fillna(method = 'ffill') #preenche os valorar NaN com o valor anterior, repetindo o valor

0     0.50
1     0.50
2     0.50
3     0.52
4     0.54
5     0.54
6     0.54
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [13]:
ds.fillna(method = 'bfill')  #A mesma coisa que o ffill, porem, debaixo para cima

0     0.50
1     0.52
2     0.52
3     0.52
4     0.54
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [16]:
ds.fillna(ds.mean()) #preencheu os valores Nan com a média da lista

0     0.500
1     0.575
2     0.575
3     0.520
4     0.540
5     0.575
6     0.575
7     0.590
8     0.600
9     0.575
10    0.700
dtype: float64

In [18]:
ds.fillna(method = 'bfill', limit = 1)  # preenche somente 1 dos valores Nan

0     0.50
1      NaN
2     0.52
3     0.52
4     0.54
5      NaN
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64